.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1630px;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 110px;

  .chatsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 580px;
    min-height: 100%;
    margin-left: 60px;
    margin-right: 60px;

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .headerComponent {
        position: relative;
        width: 50%;
      }

      .title {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 26px;
        color: #0D1C2E;
      }

      .select {
        font-size: 18px;
        line-height: 26px;
        color: #707C97;
      }

      .createButton {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
        box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15),
        4px 4px 25px rgba(42, 139, 242, 0.05),
        10px 6px 25px rgba(42, 139, 242, 0.15);
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
        line-height: 24px;
        padding: 18px 25px;
        cursor: pointer;

        p {
          margin-left: 7px;
        }
      }
    }
  }
}

