.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #0D1C2E;
    margin-bottom: 50px;
  }

  .inputsContainer {
    display: flex;

    input {
      text-align: center;
      width: 35px;
      height: 50px;
      margin: 0 20px;
      background: #FFFFFF;
      border-radius: 6px;
      border: none;
      font-size: 18px;
      line-height: 26px;
      color: #707C97;
      box-shadow: 0 10px 55px rgba(218, 218, 218, 0.05),
      0 4px 10px rgba(218, 218, 218, 0.25),
      0 10px 25px rgba(218, 218, 218, 0.05);
      cursor: pointer;
    }
  }
}