.formWrapper {
  width: 100%;
  height: 10%;
  padding-right: 60px;
  padding-left: 60px;

  form {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 2px solid rgba(112, 124, 151, 0.15);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    .chatsButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
      border: none;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        svg {
          path {
            fill: #FFFFFF;
          }
        }
      }

      input[type="file"] {
        display: none;
      }
    }

    .formInput {
      border: none;
      width: 75%;
      height: 90%;
      margin-left: 20px;
      color: #707C97;
      font-size: 20px;
      line-height: 24px;
      margin-right: 21px;

      &:focus{
        outline: none;
      }

      &::placeholder {
        color: rgba(112, 124, 151, 0.5);
        font-size: 20px;
        line-height: 24px;
      }
    }

    .smileIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .sendBtn {
      margin-left: 32px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    aside {
      position: absolute;
      right: 0;
      top: -320px;
      z-index: 3;
    }
  }
}