.userMessage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 35px;
  height: fit-content;

  .moreButton {
    cursor: pointer;
    margin-right: 14px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .messageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 0;
    height: 100%;

    .messageText {
      display: flex;
      flex-direction: column;
      max-width: 520px;
      background: #FFFFFF;
      border: 1px solid rgba(112, 124, 151, 0.25);
      box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
      color: #707C97;
      font-size: 16px;
      line-height: 26px;
      padding: 14px 22px;
      border-radius: 10px 10px 0 10px;
      overflow-wrap: anywhere;

      .file {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        color: #2A8BF2;

        p {
          margin: 0 7px;
        }

        svg {
          path {
            fill: #2A8BF2;
          }
        }
      }
    }

    .date {
      display: block;
      position: absolute;
      width: max-content;
      right: 0;
      bottom: -25px;
      color: rgba(112, 124, 151, 0.7);
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.messageMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  top: 0;
  left: -75px;
  background: #FFFFFF;
  border: 1px solid rgba(112, 124, 151, 0.25);
  box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
  border-radius: 10px;
  z-index: 2;

  .menuButton {
    border: none;
    background: transparent;
    border-radius: 10px;
    color: #707C97;
    margin: 0 12px;
    cursor: pointer;
  }
}
